
.container {
    display: grid;
    width: 100%;
    background-color: LightGray;
    font-size: 40px;
  }
  
  
  .d1 {
    background-color: #ec3515;
  }
  
  .d2 {
    background-color: #bb9b1b;
  }
  
  .d3 {
    background-color: #00ff00;
  }
  
  .d4 {
    background-color: #0080ff;
  }
  
  .d5 {
    background-color: #aa00ff;
  }
  